.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

    &_logo {
        color: #3A5860;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        & > span {
            font-weight: 100;
        }
    }

    &_nav {
        display: flex;

        &_link {
            position: relative;
            color: inherit;
            text-decoration: none;
            padding-left: 2rem;

            &:first-child {
                margin-left: 0;
            }

            &::after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                bottom: -5px;
                width: 0;
                height: 2px;
                background-color: #3A5860;
                transition: width 0.5s;
                opacity: 0.7;
            }
            
            &:hover::after {
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                left: 2rem;
                bottom: -5px;
                height: 2px;
                background-color: #3A5860;
                transition: width 0.5s;
            }
        }
    }

    
}