.card {
  width: 15rem;
  height: 12rem;
  padding: 1rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: color, background-color 1s;

  &_section {
    font-size: 0.8rem;
    font-weight: 200;
    text-transform: uppercase;
  }

  &_link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &_image {
    width: 10rem;
  }

  &:hover {
    transform: scale(0.93);
    background-color: #3a5860;
    transition: 1s;
    cursor: pointer;
    color: #fff;
  }
}
